{% load static i18n bulma_tags lanve_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'lanve/image/favicon.ico' %}"/>
    {% block css %}
        {% font_awesome %}
        <link rel="stylesheet" href="{% static 'bulma/css/style.min.css' %}">
        {% block extra_css %}{% endblock extra_css %}
    {% endblock css %}
</head>
<body>

{% block header %}
    <div class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'lanve:list' %}">
                    <img src="{% static 'lanve/image/lanve-logo.png' %}" alt="lanve-logo">
                </a>
                <div class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item is-hoverable">
                        <a class="navbar-link is-arrowless"
                           href="{% url 'lanve:add' %}">
                            New Post
                        </a>
                    </div>
                    <div class="navbar-item is-hoverable">
                        <a class="navbar-link is-arrowless"
                           href="{% url 'lanve:signout' %}">
                            Sign Out
                        </a>
                    </div>
                    <div class="navbar-item is-hoverable">
                        <a class="navbar-link is-arrowless"
                           href="{% url 'lanve:user_detail' user.pk %}">
                            {% if user.profile_pic %}
                                <img src="{{ user.profile_pic.thumbnail.url }}" alt="profile pictures">
                            {% endif %}
                            <span>&nbsp;&nbsp;</span>
                            {{ user.username }}
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock header %}

{% block hero %}{% endblock hero %}

<section class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-three-fifths-desktop is-offset-one-fifth-desktop">
                {% block messages %}
                    {% if messages %}
                        <div class="messages columns is-desktop">
                            <div class="column is-full">
                                {% for message in messages %}
                                    <div class="message {% if message.tags %}is-{{ message.tags|bulma_message_tag }}{% endif %}">
                                        <div class="message-body">{{ message }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endblock messages %}
                {% block content_area %}
                    {% block content_title %}{% endblock content_title %}
                    {% block content %}{% endblock content %}
                {% endblock content_area %}
            </div>
        </div>
    </div>
</section>

{% block modal %}{% endblock modal %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Lanve</strong> by <a href="https://github.com/ShuntaH">ShuntaH</a>
                <p>
                <p>
                    <small>Powered by <strong><a href="https://www.djangoproject.com/">Django</a></strong> |
                        Theme by <strong><a href="https://bulma.io/">Bulma</a></strong>
                    </small>
                </p>
                <a class="icon is-large" href="/">
                    <img src="{% static 'lanve/image/lanve-logo.png' %}" alt="lanve-logo">
                </a>
            </div>
        </div>
    </footer>
{% endblock footer %}

{% block javascript %}
    <script>
        // toggle burger-menu
        {#for (const el of document.getElementsByClassName('navbar-burger')) {#}
        {#    const menuId = el.dataset.target;#}
        {#    const menu = document.getElementById(menuId);#}
        {#    el.addEventListener('click', e => {#}
        {#        el.classList.toggle('is-active');#}
        {#        menu.classList.toggle('is-active');#}
        {#    });#}
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}
</body>
