{% extends "base.html" %}

{% load i18n static bulma_tags %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block header %}
    <div class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static 'lanve/image/lanve-logo.png' %}"
                         alt="lanve-logo">
                </a>
                <div class="navbar-burger burger" data-target="navMenuExample">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenuExample" class="navbar-menu">
                <div class="navbar-end">
                    {% url 'lanve:signin' as login_url %}
                    {% if login_url %}
                        <a class="navbar-item is-hidden-desktop-only" href="{{ login_url }}">
                            Login
                        </a>
                    {% endif %}
                    {#                    {% url 'lanve:signin' as login_auth_url %}#}
                    {#                    {% if login_url %}#}
                    {#                        <a class="navbar-item is-hidden-desktop-only" href="{{ login_url }}">#}
                    {#                            Login (allauth)#}
                    {#                        </a>#}
                    {#                    {% endif %}#}
                    {% url 'lanve:signup' as signup_url %}
                    {% if signup_url %}
                        <a class="navbar-item is-hidden-desktop-only" href="{{ signup_url }}">
                            Signup
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
{% endblock header %}
{% block content_title %}{% trans "Sign Out" %}{% endblock %}
{% block content %}
    <p class="content">{% trans 'Please sign in sign in to play' %}</p>

    <form method="post" action="{% url 'lanve:signin' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="button is-primary">{% trans 'Sign In' %}</button>
    </form>

{% endblock %}