{% extends 'base.html' %}

{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="">
{% endblock extra_css %}
{% block title %}{% trans "Welcome to Lanve" %}{% endblock %}
{#{% block content_title %}<h1 class="title">{% trans "Welcome to Lanve" %}</h1>{% endblock content_title %}#}

{% block content %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1 landing-caption">
                            <span>
                            developing
                            </span>
                    <h1 class="title is-1 is-bold is-spaced">
                        Lanve
                    </h1>
                    <p class="subtitle is-muted">
                        The simplest translating foreign languages App
                    </p>
                    <p>
                        <a href="{% url 'lanve:signup' %}"
                           class="button cta rounded primary-btn raised">
                            Sign up
                        </a>
                        <a href="{% url 'lanve:signin' %}"
                           class="button cta rounded primary-btn raised">
                            Sign In
                        </a>
                    </p>
                </div>
                <div class="column is-5 is-offset-1">
                    <figure class="image is-4by4">
                        <img class="lazy"
                             src="assets/images/absurd/08-low.png"
                             data-src="assets/images/absurd/08.png"
                             alt="Absurd image, Man with a bulb head - BulmaPlay made with Bulma CSS.">
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
