{% extends 'base.html' %}
{% load static i18n bulma_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'lanve/scss/issue_list.css' %}">
{% endblock %}

{% block hero %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Timeline
                </h1>
                <h2 class="subtitle">
                    form bangkok
                </h2>
            </div>
        </div>
    </section>
{% endblock hero %}

{% block content %}
    {% for issue in issue_list %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <a href="{% url 'lanve:user_detail' issue.contributor.pk %}">
                                <img src="{{ issue.contributor.profile_pic.thumbnail.url }}" alt="profile picture">
                            </a>
                        </figure>
                    </div>
                    <div class="media-content">
                        <a href="{% url 'lanve:user_detail' issue.contributor.pk %}">
                            <p class="title is-4">{{ issue.contributor.username }}</p>
                        </a>
                    </div>
                </div>
                <div class="content">
                    <p><small class="has-text-weight-semibold">Question</small>
                        <br>
                        <a class="is-size-3" href="{% url 'lanve:detail' issue.pk %}">
                            {{ issue.question|urlize|truncatechars_html:100 }}
                        </a>
                    </p>
                    <p class="situation-border"><small class="has-text-weight-semibold">Situation</small>
                        <br>
                        {{ issue.situation|linebreaksbr|urlize|truncatechars_html:250 }}
                    </p>
                    <a class="icon"><i class="fas fa-fw fa-heart color-heart"></i></a>
                    <small>
                        <time datetime="{{ issue.created_at }}">{{ issue.created_at }}</time>
                        &nbsp;&nbsp;
                        <span>{{ issue.created_at|timesince }}</span>
                    </small>
                </div>
            </div>
        </div>
    {% empty %}
        <p>there is not any posts yet.</p>
    {% endfor %}
{% endblock %}