{% extends 'base.html' %}
{% load static i18n bulma_tags %}

{% block hero %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    your relating issues
                </h1>
                <h2 class="subtitle">
                    form bangkok
                </h2>
            </div>
        </div>
    </section>
{% endblock hero %}

{% block content %}

    <div class="tabs is-centered">
        <ul>
            <li class="tab is-active"><a>Issues you have ever posted</a></li>
            <li class="tab"><a>Issues you have ever commented</a></li>
        </ul>
    </div>

    <div class="tab-contents">
        <div class="tab-content">
            {% for issue in issue_list %}
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <a href="{% url 'lanve:user_detail' issue.contributor.pk %}">
                                        <img src="{{ issue.contributor.profile_pic.thumbnail.url }}"
                                             alt="profile picture">
                                    </a>
                                </figure>
                            </div>
                            <div class="media-content">
                                <a href="{% url 'lanve:user_detail' issue.contributor.pk %}">
                                    <p class="title is-4">{{ issue.contributor.username }}</p>
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="is-size-3">{{ issue.question|urlize|truncatechars_html:100 }}</h2>
                            <p>{{ issue.situation|linebreaksbr|urlize|truncatechars_html:250 }}</p>
                            <div>
                                <a class="button" href="{% url 'lanve:detail' issue.pk %}">I will help</a>
                            </div>
                            {# 同じネイティブがいいか判定　全員観れるがネイティブしか押せない　#}
                            <a class="icon"><i class="fas fa-fw fa-thumbs-up"></i></a><span>0</span>
                            <a class="icon"><i
                                    class="fas fa-fw fa-flip-vertical fa-thumbs-up"></i></a><span>0</span>
                            {# 質問者が助かったか判定　全員観れるが投稿者しか押せない#}
                            <a class="icon"><i class="fas fa-fw fa-heart"></i></a>
                            <small>
                                <time datetime="{{ issue.created_at }}">{{ issue.created_at }}</time>
                            </small>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>there is not any posts that you have ever posted yet.</p>
            {% endfor %}
        </div>

        <div class="tab-content is-hidden">
            {% for issue_answer in issue_answer_list %}
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <a href="{% url 'lanve:user_detail' issue_answer.contributor.pk %}">
                                        <img src="{{ issue_answer.contributor.profile_pic.thumbnail.url }}"
                                             alt="profile picture">
                                    </a>
                                </figure>
                            </div>
                            <div class="media-content">
                                <a href="{% url 'lanve:user_detail' issue_answer.contributor.pk %}">
                                    <p class="title is-4">{{ issue_answer.contributor.username }}</p>
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="is-size-3">{{ issue_answer.question|urlize|truncatechars_html:100 }}</h2>
                            <p>{{ issue_answer.situation|linebreaksbr|urlize|truncatechars_html:250 }}</p>
                            <div>
                                <a class="button" href="{% url 'lanve:detail' issue_answer.pk %}">I will help</a>
                            </div>
                            {# 同じネイティブがいいか判定　全員観れるがネイティブしか押せない　#}
                            <a class="icon"><i class="fas fa-fw fa-thumbs-up"></i></a><span>0</span>
                            <a class="icon"><i
                                    class="fas fa-fw fa-flip-vertical fa-thumbs-up"></i></a><span>0</span>
                            {# 質問者が助かったか判定　全員観れるが投稿者しか押せない#}
                            <a class="icon"><i class="fas fa-fw fa-heart"></i></a>
                            <small>
                                <time datetime="{{ issue_answer.created_at }}">{{ issue_answer.created_at }}</time>
                            </small>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>there is not any posts that you have ever posted yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "tab" elements
            const $tabs = document.getElementsByClassName('tab');

            // Add a click event on each of them
            for (let i = 0; i < $tabs.length; i++) {
                $tabs[i].addEventListener('click', () => {
                    // タブのclassの値を変更
                    document.getElementsByClassName('is-active')[0].classList.remove('is-active');
                    $tabs[i].classList.add('is-active');
                    // コンテンツのclassの値を変更
                    document.getElementsByClassName('is-hidden')[0].classList.remove('is-hidden');
                    if (i === 0)
                        document.getElementsByClassName('tab-content')[1].classList.add('is-hidden');
                    else if (i === 1)
                        document.getElementsByClassName('tab-content')[0].classList.add('is-hidden');
                });
            }
        });
    </script>
{% endblock %}