{% extends 'base.html' %}
{% load static i18n bulma_tags %}

{% block hero %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    投稿してね
                </h1>
                <h2 class="subtitle">
                    form bangkok
                </h2>
            </div>
        </div>
    </section>
{% endblock hero %}

{% block content %}
    <form action="" method="post">
   {% csrf_token %}
   {{ form|bulma }}
   <div class="field">
     <button type="submit" class="button is-primary">Post</button>
   </div>
   <input type="hidden" name="next" value="{{ next }}"/>
</form>
{% endblock %}