{% extends 'base.html' %}
{% load static i18n bulma_tags lanve_tags %}

{% block content_title %}
    <h1 class="title is-3">MyPage</h1>
{% endblock content_title %}
{% block content %}

    <div class="table-container">
        <table class="table">
            <tbody>
            <tr>
                <th>username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Profile picture</th>
                <td><img src="{{ user.profile_pic.url }}" alt="Your profile picture"></td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ user.date_of_birth }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ user.nationality }}</td>
            </tr>
            <tr>
                <th>Mother tongue</th>
                <td>{{ user.mother_tongue }}</td>
            </tr>
            <tr>
                <th>Residence</th>
                <td>{{ user.residence }}</td>
            </tr>
            <tr>
                <th>The number of your answer</th>
                <td>{{ user.helpful|ratio:user.not_helpful }}</td>
            </tr>
             <tr>
                <th>The number of your answer</th>
                <td>{{ user.answer_num }}</td>
            </tr>
             <tr>
                <th>Your ratio of 'helpful'</th>
                <td>{{ user.helpful|ratio:user.not_helpful }}</td>
            </tr>
             <tr>
                <th>Your ratio of 'good'</th>
                <td>{{ user.good|ratio:user.bad }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}