{% extends 'base.html' %}
{% load static i18n bulma_tags lanve_tags %}

{% block content_title %}
    <h1 class="title is-3">MyPage</h1>
{% endblock content_title %}
{% block content %}
    <div class="content">
        <ul class="list">
            <li class="list-item">username {{ user.username }}</li>
            <li class="list-item">Email {{ user.email }}</li>
            <li class="list-item">Picture {{ user.profile_pic.url }}</li>
            <li class="list-item">First Name {{ user.first_name }}</li>
            <li class="list-item">Last Name {{ user.last_name }}</li>
            <li class="list-item">Birthday {{ user.date_of_birth }}</li>
            <li class="list-item">Gender {{ user.gender }}</li>
            <li class="list-item">Nationality {{ user.nationality }}</li>
            <li class="list-item">Residence {{ user.residence }}</li>
            <li class="list-item">Mother Tongue {{ user.mother_tongue }}</li>
            <li class="list-item">The number of your answer {{ user.answer_num }}</li>
            <li class="list-item">Your rate of 'helpful' {{ user.helpful|ratio:user.not_helpful }}</li>
            <li class="list-item">Your rate of 'good' {{ user.good|ratio:user.bad }}</li>
        </ul>
    </div>
{% endblock content %}