{% extends 'base.html' %}
{% load static i18n bulma_tags %}

{% block content_title %}
    <h1 class="title is-3">MyPage Edit</h1>
{% endblock content_title %}
{% block content %}
    <form class="user-update" id="user-update-form" method="post" action="{% url 'lanve:user_form' user.pk %}">
        {% csrf_token %}
        {{ form.username|bulma }}
       <div>
           {{ form.profile_pic }}
       </div>
        {{ form.residence|bulma }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-primary">{% trans "Update" %}</button>
            </div>
            <div class="control">
                <a class="button is-link is-light" href="{% url 'lanve:user_detail' user.pk %}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock content %}