{% extends 'base.html' %}
{% load static i18n bulma_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'lanve/scss/user_form.css' %}">
{% endblock %}

{% block hero %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Edit Mypage
                </h1>
                <h2 class="subtitle">
                    form bangkok
                </h2>
            </div>
        </div>
    </section>
{% endblock hero %}

{% block content_title %}
    <h1 class="title is-3">MyPage Edit</h1>
{% endblock content_title %}
{% block content %}
    <form method="post"
          action="{% url 'lanve:user_form' user.pk %}"
          enctype="multipart/form-data"
    >
        {% csrf_token %}
        <div class="username">
            {{ form.username|bulma }}
        </div>
        <div class="profile-pic">
            {{ form.profile_pic }}
        </div>
        <div class="residence">
            {{ form.residence|bulma }}
        </div>
        <div>
            <a href="{% url 'lanve:password_change' %}">Change Password</a>
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="button-row">
            <button type="submit" class="button is-primary">{% trans "Update" %}</button>
            <a class="button is-link is-light" href="{% url 'lanve:user_detail' user.pk %}">Cancel</a>
        </div>
    </form>
{% endblock content %}

{% block extra_javascript %}
    {{ form.media }}
{% endblock %}