{% extends 'base.html' %}
{% load static i18n bulma_tags lanve_tags %}


{% block hero %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    My page
                </h1>
                <h2 class="subtitle">
                    form bangkok
                </h2>
            </div>
        </div>
    </section>
{% endblock hero %}

{% block content_title %}
    <h1 class="title is-3">MyPage</h1>
{% endblock content_title %}
{% block content %}
    <div class="table-container">
        <table class="table table is-fullwidth">
            <tbody>
            <tr>
                <th>username</th>
                <td>{{  lanveuser.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ lanveuser.email }}</td>
            </tr>
            <tr>
                <th>Profile picture</th>
                <td>
                    <figure class="image is-128x128">
                        <img src="{{ lanveuser.profile_pic.thumbnail.url }}" alt="Your profile picture">
                    </figure>
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ lanveuser.first_name }} {{ lanveuser.last_name }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ lanveuser.date_of_birth }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ lanveuser.get_gender_display }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ lanveuser.get_nationality_display }}</td>
            </tr>
            <tr>
                <th>Mother tongue</th>
                <td>{{ lanveuser.get_mother_tongue_display }}</td>
            </tr>
            <tr>
                <th>Residence</th>
                <td>{{ lanveuser.get_residence_display }}</td>
            </tr>
            <tr>
                <th>The number of your answer</th>
                <td>{{ lanveuser.answer_num }}</td>
            </tr>
            <tr>
                <th>Your ratio of 'helpful'</th>
                <td>{{ lanveuser.helpful|ratio:lanveuser.not_helpful }}</td>
            </tr>
            <tr>
                <th>Your ratio of 'good'</th>
                <td>{{ lanveuser.good|ratio:lanveuser.bad }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% if user.pk == lanveuser.pk %}
    <a class="button" href="{% url 'lanve:user_form' user.pk %}">Edit</a>
    {% endif %}
{% endblock content %}