{% extends 'base.html' %}

{% load i18n static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'lanve/scss/welcome.css' %}">
{% endblock extra_css %}
{% block title %}{% trans "Welcome to Lanve" %}{% endblock %}
{#{% block content_title %}<h1 class="title">{% trans "Welcome to Lanve" %}</h1>{% endblock content_title %}#}
{% block header %}
    <div class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static 'lanve/image/lanve-logo.png' %}"
                         alt="lanve-logo">
                </a>
                <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
                </a>
                <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-twitter"></i>
        </span>
                </a>
                <div class="navbar-burger burger" data-target="navMenuExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navMenuExample" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link  is-active" href="/documentation/overview/start/">
                            Docs
                        </a>
                        <div class="navbar-dropdown ">
                            <a class="navbar-item " href="/documentation/overview/start/">
                                Overview
                            </a>
                            <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                                Modifiers
                            </a>
                            <a class="navbar-item " href="http://bulma.io/documentation/grid/columns/">
                                Grid
                            </a>
                            <a class="navbar-item " href="http://bulma.io/documentation/layout/container/">
                                Layout
                            </a>
                            <a class="navbar-item " href="http://bulma.io/documentation/form/general/">
                                Form
                            </a>
                            <a class="navbar-item " href="http://bulma.io/documentation/elements/box/">
                                Elements
                            </a>
                            <a class="navbar-item is-active"
                               href="http://bulma.io/documentation/components/breadcrumb/">
                                Components
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <div class="navbar-link">
                            More
                        </div>
                        <div id="moreDropdown" class="navbar-dropdown ">
                            <a class="navbar-item " href="http://bulma.io/extensions/">
                                <div class="level is-mobile">
                                    <div class="level-left">
                                        <div class="level-item">
                                            <p>
                                                <strong>Extensions</strong>
                                                <br>
                                                <small>Side projects to enhance Bulma</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="level-right">
                                        <div class="level-item">
                    <span class="icon has-text-info">
                      <i class="fa fa-plug"></i>
                    </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    {% url 'lanve:signin' as login_url %}
                    {% if login_url %}
                        <a class="navbar-item is-hidden-desktop-only" href="{{ login_url }}">
                            Login
                        </a>
                    {% endif %}
                    {% url 'lanve:signin' as login_url %}
                    {% if login_url %}
                        <a class="navbar-item is-hidden-desktop-only" href="{{ login_url }}">
                            Login (allauth)
                        </a>
                    {% endif %}
                    {% url 'lanve:signup' as signup_url %}
                    {% if signup_url %}
                        <a class="navbar-item is-hidden-desktop-only" href="{{ signup_url }}">
                            Signup (allauth)
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
{% endblock header %}


{% block content %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1 landing-caption">
                            <span>
                            developing
                            </span>
                    <h1 class="title is-1 is-bold is-spaced">
                        Lanve
                    </h1>
                    <p class="subtitle is-muted">
                        The simplest translating foreign languages App
                    </p>
                    <p>
                        <a href="{% url 'lanve:signup' %}"
                           class="button cta rounded primary-btn raised">
                            Sign up
                        </a>
                        <a href="{% url 'lanve:signin' %}"
                           class="button cta rounded primary-btn raised">
                            Sign In
                        </a>
                    </p>
                </div>
                <div class="column is-5 is-offset-1">
                    <figure class="image is-4by4">
                        <img class="lazy"
                             src="{% static 'lanve/image/welcome-top.png' %}"
                             data-src="lanve/image/welcome-top.png"
                             alt="Lanve images">
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
