asgiref==3.2.3
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Cython==0.29.14
decorator==4.4.1
Django==3.0.3
django-bulma==0.6.0
django-cleanup==4.0.0
django-countries==5.5
django-country-and-language-flags==0.1.1
django-filter==2.2.0
django-guardian==2.1.0
django-language-fields==1.0.0
django-stdimage==5.0.2
djangorestframework==3.11.0
entrypoints==0.3
flake8==3.7.9
idna==2.8
ipython==7.16.3
ipython-genutils==0.2.0
itypes==1.1.0
jedi==0.15.2
Jinja2==2.10.3
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.4.6
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
progressbar2==3.47.0
prompt-toolkit==3.0.2
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.5.2
python-dotenv==0.10.3
python-utils==2.3.0
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
traitlets==4.3.3
uritemplate==3.0.1
urllib3==1.25.7
uWSGI==2.0.18
wcwidth==0.1.7
